<!-- To have this boilerplate html, delete everything from the html file and enter '!' -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yes, baby!</title>
    <link rel="stylesheet" href="static/styles.css" />
  </head>
  <body>
    <div>
      <img class="image" src="static/ward.jpeg" />
      <img
        class="image"
        src="https://media.giphy.com/media/xTiIzJSKB4l7xTouE8/giphy.gif"
      />
    </div>
    <div id="form">
      <form class="form" action="/login" method="post">
        <label for="name">Name:</label>
        <input name="name" placeholder="Name" />
        <label for="pasw">Password:</label>
        <input name="pasw" placeholder="Password" />
        <input type="submit" value="Ok !" />
      </form>
    </div>
  </body>
</html>
